<h1>Editing data_source</h1>

<% form_for(@data_source) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :remote_id %><br />
    <%= f.text_field :remote_id %>
  </p>
  <p>
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :more_info_url %><br />
    <%= f.text_field :more_info_url %>
  </p>
  <p>
    <%= f.label :acronym %><br />
    <%= f.text_field :acronym %>
  </p>
  <p>
    <%= f.label :datagov_id %><br />
    <%= f.text_field :datagov_id %>
  </p>
  <p>
    <%= f.label :curator_person_name %><br />
    <%= f.text_field :curator_person_name %>
  </p>
  <p>
    <%= f.label :curator_person_email %><br />
    <%= f.text_field :curator_person_email %>
  </p>
  <p>
    <%= f.label :curator_url %><br />
    <%= f.text_field :curator_url %>
  </p>
  <p>
    <%= f.label :curator_center %><br />
    <%= f.text_field :curator_center %>
  </p>
  <p>
    <%= f.label :curator_org_name %><br />
    <%= f.text_field :curator_org_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @data_source %> |
<%= link_to 'Back', data_sources_path %>