<h1>New curator</h1>

<% form_for(@curator) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :person_name %><br />
    <%= f.text_field :person_name %>
  </p>
  <p>
    <%= f.label :person_email %><br />
    <%= f.text_field :person_email %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :center %><br />
    <%= f.text_field :center %>
  </p>
  <p>
    <%= f.label :org %><br />
    <%= f.text_field :org %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', curators_path %>