<p>
  <b>Person name:</b>
  <%=h @curator.person_name %>
</p>

<p>
  <b>Person email:</b>
  <%=h @curator.person_email %>
</p>

<p>
  <b>Url:</b>
  <%=h @curator.url %>
</p>

<p>
  <b>Center:</b>
  <%=h @curator.center %>
</p>

<p>
  <b>Org:</b>
  <%=h @curator.org %>
</p>


<%= link_to 'Edit', edit_curator_path(@curator) %> |
<%= link_to 'Back', curators_path %>