<!DOCTYPE html>
<html lang="en">
<%= render :partial => "shared/header" %>
  <body>
<%= render :partial => "shared/navigation" %>
    <div class="container">
      <pre>
      <%= yield %>
      </pre>
      <hr>
<%= render :partial => "shared/footer" %>
    </div>
<%= render :partial => "shared/bootstrap_assets" %>
  </body>
</html>
